#canvas-variations {
  padding: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 140px;
  position: fixed;
  left: 0;
  top: 100px;
  z-index: 999999;
  background: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
  -ms-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
  box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
  &.sleep {
    margin-left: -140px;
  }
  & h3 {
    text-align: center;;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #777;
    margin: 0;
    padding: 0;
    clear: both;
  }
  & ul {
    padding: 0;
    margin: 0;
    &#canvas-colors {
      height: 75px;
    }
    &#canvas-sizes {
      & li span {
        margin-top: -3px;
        &.curr {
          font-weight: bold;
          font-size: 16px;
          text-decoration: underline;
        }
      }
    }
    & li {
      padding: 0;
      margin: 0;
      list-style: none;
      display: inline;
    }
    & li span {
      width: 20px;
      height: 20px;
      position: relative;
      float: left;
      margin: 5px;
      cursor: pointer;
      &.colour-extra {
        border: #000000 solid 1px;
        background: lightgray;
        width: 23px;
        height: 22px;
        & i {
          padding-top: 2px;
          padding-left: 2px;
          position: relative;
          font-size: 16px;
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }
  }
  & .option-toggle {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-right: -30px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #fff;
    cursor: pointer;
    -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    & i {
      top: 2px;
      position: relative;
      font-size: 25px;
      font-weight: bold
    }
  }
  .option-toggle:hover, .option-toggle:focus, .option-toggle:active {
    color: #fff;
    text-decoration: none;
    outline: none;
  }
  &.picker-show {
    transition:0.2s linear all;
    transform: translateX(0%);
  }
  &.picker-hide {
    transition:0.2s linear all;
    transform: translateX(-100%);
  }
}


