<div
  id="canvas-variations"
  [ngClass]="{'picker-show': showPicker, 'picker-hide': !showPicker}">
  <span class="option-toggle" [style.backgroundColor]="config['color']">
    <i
      [ngClass]="{'icon-long-arrow-left': showPicker, 'icon-long-arrow-right': !showPicker}"
      [ngStyle]="{'color': config['color'] == '#ffffff' ? '#000000' : '#ffffff'}"
      (click)="showPicker = !showPicker">
    </i>
  </span>
  <h3>Preset Colors</h3>
  <ul id="canvas-colors">
    <!-- All available colors -->
    <li *ngFor="let key of colorsKeys">
      <span
        (click)="updateColor(canvasProperties.availableColors[key])"
        [style.backgroundColor]="canvasProperties.availableColors[key]">
      </span>
    </li>
    <!-- Eraser -->
    <li title="Eraser">
      <span class="colour-extra" (click)="updateColor('#ffffff')">
        <i class="icon-eraser"></i>
      </span>
    </li>
    <!-- Clear canvas and restart -->
    <li title="Clear">
      <span class="colour-extra" (click)="clearCanvas()">
        <i class="icon-reload"></i>
      </span>
    </li>
  </ul>
  <br>
  <h3>Change Size</h3>
  <ul id="canvas-sizes">
    <!-- All available sizes -->
    <li *ngFor="let size of canvasProperties.availableSizes">
      <span (click)="updateSize(size)" [ngClass]="{'curr': size == config['size']}">{{size}}</span>
    </li>
  </ul>

  <!-- Submit form -->
  <app-canvas-submit [startTimeStamp]="startTimeStamp"></app-canvas-submit>
</div>
