<header
  role="banner"
  id="lobus-header"
  class="navbar-fixed-top fh5co-animated slideInDown">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <!-- Mobile Toggle Menu Button -->
        <a
          href="#"
          class="js-fh5co-nav-toggle fh5co-nav-toggle"
          data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar"><i></i>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li
            (click)="activeTab = 'ourSketches'"
            [ngClass]="{'active': activeTab == 'ourSketches'}">
            <a href="#/our-sketches" data-nav-section="our-sketches" id="our-sketches">
              <span>Our Sketches</span>
            </a>
          </li>
          <li
            (click)="activeTab = 'tryForFree'"
            [ngClass]="{'active': activeTab == 'tryForFree'}">
            <a href="#/try-for-free" data-nav-section="try-for-free">
              <span>Try For Free!</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
