@media screen and (max-width: 768px) {
  #lobus-header {
    margin-top: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    & #navbar li a {
      color: rgba(0, 0, 0, 0.5) !important;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }
    & #navbar li a:hover {
      color: #6173f4 !important;
    }
    & #navbar li a span:before {
      background: transparent !important;
    }
    & #navbar li.active a {
      background: transparent;
      background: none;
      color: #6173f4 !important;
    }
    & #navbar li.active a span:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}
#lobus-header {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
  margin-top: 20px;
  & .navbar {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  & #navbar {
    & li a {
      font-family: "Source Sans Pro", Arial, sans-serif;
      color: rgba(255, 255, 255, 0.5);
      position: relative;
    }
    & li a span {
      position: relative;
      display: block;
      padding-bottom: 2px;
    }
    & li a span:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #6173f4;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      -ms-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
    & li a:hover {
      color: #fff;
    }
    & li a:hover span:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
      transform: scaleX(1);
    }
    & li.active a {
      background: transparent;
      background: none;
      color: #fff;
    }
    & li.active a span:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  &.navbar-fixed-top {
    position: fixed !important;
    background: #fff;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    top: 0;
    & #navbar li a {
      color: rgba(0, 0, 0, 0.5);
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }
    & #navbar li a:hover {
      color: #6173f4;
    }
    & #navbar li.active a {
      background: transparent;
      background: none;
      color: #6173f4;
    }
    & #navbar li.active a span:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  & .navbar-default {
    border: transparent;
    background: transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
  }
}
@media screen and (max-width: 768px) {
  #lobus-header .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
#lobus-header .navbar-default .brand-slogan {
  margin: 28px 0 0 15px;
  float: left;
  letter-spacing: 2px;
  color: #adadad;
}
#lobus-header .navbar-default .brand-slogan em {
  color: #6173f4;
  font-style: normal;
}
#lobus-header a {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
