<div id="fh5co-our-sketches" data-section="our-sketches">
  <div class="container">
    <div class="row row-bottom-padded-sm">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Our Most Recent sketches...</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 to-animate">
            <h3>So far, we have {{sketchesKeys.length}} sketches! Add your sketch today :-)</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let sketch of sketchesKeys">
        <div class="box to-animate">
          <h3>{{sketches[sketch].nameSketch}}</h3>
          <p>by {{sketches[sketch].nameUser}}</p>
          <p>{{sketches[sketch].creationTime | date: 'medium'}}</p>
          <p>Duration: {{sketches[sketch].duration | date: 'm:ss': 'UTC'}}</p>
          <a
            href="#our-sketches/{{sketches[sketch].image.name}}/{{sketches[sketch].image.token}}"
            title="Click for full view">
            <img src="{{sketches[sketch].image.url}}" alt="Image missing"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
