#fh5co-our-sketches {
  background: #f4f4f4;
  padding: 7em 0;
  @media screen and (max-width: 480px) {
    padding: 5em 0;
  }
  & .box {
    padding: 30px;
    background: #fff;
    text-align: center;
    color: #7f7f7f;
    margin-bottom: 70px;
    position: relative;
    @media screen and (max-width: 992px) {
      min-height: inherit;
      margin-bottom: 60px;
    }
    & h3 {
      margin: 0 0 5px 0;
      padding: 0;
      font-weight: 400;
      font-size: 20px;
      color: #444;
    }
    & p {
      margin-bottom: 5px;
    }
    & img {
      width: 100%;
      height: 100%;
    }
  }
}
