.form-container {
  position: relative;
  overflow: hidden;
  float: left;
  &.form-hide {
    max-height: 0;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
  }
  &.form-show {
    max-height: 500px;
    transition: max-height 0.3s ease-in;
  }
  & form {
    text-align: center;
    & label {
      font-weight: normal;
      font-size: 14px;
    }
    & .form-check-label {
      margin-left: 3px;
    }
    & .form-control {
      height: 30px;
      padding: 10px;
    }
    & .form-check {
      margin-top: -10px;
    }
  }
}

.form-toggle {
  position: absolute;
  background: lightgray;
  bottom: -30px;
  left: 55px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
  -ms-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
  box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
  & i {
    top: 5px;
    position: relative;
    font-size: 22px;
    font-weight: bold
  }
}
.form-toggle:hover, .form-toggle:focus, .form-toggle:active {
  color: #fff;
  text-decoration: none;
  outline: none;
}
