<div
  class="form-container"
  [ngClass]="{'form-show': showForm, 'form-hide': !showForm}">
  <hr>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <label>Submit Your Sketch!</label>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="nameUser"
        name="nameUser"
        placeholder="your name">
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="nameSketch"
        name="nameSketch"
        placeholder="sketch name">
    </div>
    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        [(ngModel)]="isPrivate"
        name="isPrivate">
      <label class="form-check-label">private sketch</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<!-- Toggle form -->
<span class="form-toggle" title="Submit">
  <i
    class="icon-arrow-down"
    [ngClass]="{'icon-arrow-up': showForm, 'icon-arrow-down': !showForm}"
    (click)="showForm = !showForm">
  </i>
</span>


